
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <p id="notice"><%= notice %></p>

    <div class="card">
      <div class="card-header">
        <h3>CoV Positives</h3>
      </div>
      <div class="table-responsive py-3">
        <table class="table table-flush" id="datatable-kota">
          <thead class="thead-light">
            <tr>
              <th>City</th>
              <th>Amount</th>
              <th>Datetime</th>
              <th>Tool</th>
            </tr>
          </thead>

          <tbody>
            <% @cov_positives.each do |cov_positive| %>
              <tr>
                <td><%= cov_positive.city.name %></td>
                <td><%= cov_positive.amount %></td>
                <td><%= cov_positive.dateTime %></td>
                <td>
                  <%= link_to cov_positive, class: "btn btn-icon btn-sm btn-info" do %>
                    <%= fa_icon "eye", class: "text-white"%>
                  <% end %>
                  <%= link_to edit_cov_positive_path(cov_positive), class: "btn btn-icon btn-sm btn-warning" do %>
                    <%= fa_icon "edit", class: "text-white"%>
                  <% end %>
                  <%= link_to cov_positive, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-icon btn-sm btn-danger" do %>
                    <%= fa_icon "trash", class: "text-white"%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>

    
    <br>
    <%# paginate @cities %>



    <%= render partial: 'layouts/footer_back' %>
  </div>
<% end %>

<% content_for :button_header do %>
  <div class="col-lg-6 col-5 text-right">
    <%= link_to 'New Cov Positive', new_cov_positive_path, class: "btn btn-sm btn-neutral" %>
  </div>
<% end %>
      
<%= render partial: 'layouts/body' %>
