<p id="notice"><%= notice %></p>

<h1>Cov Pdps</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Amount</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cov_pdps.each do |cov_pdp| %>
      <tr>
        <td><%= cov_pdp.city %></td>
        <td><%= cov_pdp.amount %></td>
        <td><%= cov_pdp.dateTime %></td>
        <td><%= link_to 'Show', cov_pdp %></td>
        <td><%= link_to 'Edit', edit_cov_pdp_path(cov_pdp) %></td>
        <td><%= link_to 'Destroy', cov_pdp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cov Pdp', new_cov_pdp_path %>
