<%= form_with(model: cov_odp_processed, local: true) do |form| %>
  <% if cov_odp_processed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cov_odp_processed.errors.count, "error") %> prohibited this cov_odp_processed from being saved:</h2>

      <ul>
      <% cov_odp_processed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.select(:city_id ,City.all.collect{|u| [u.name, u.slug]},{prompt: "City", disabled: true}, id: '', class:"form-control select2", 'data-toggle': "select", 'title': "Simple select", 'data-live-search': "true", 'data-live-search-placeholder': "Search ...", required: true) %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.label :dateTime %>
    <%= form.datetime_select :dateTime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
