<p id="notice"><%= notice %></p>

<h1>Cov Odp Processeds</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Amount</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cov_odp_processeds.each do |cov_odp_processed| %>
      <tr>
        <td><%= cov_odp_processed.city %></td>
        <td><%= cov_odp_processed.amount %></td>
        <td><%= cov_odp_processed.dateTime %></td>
        <td><%= link_to 'Show', cov_odp_processed %></td>
        <td><%= link_to 'Edit', edit_cov_odp_processed_path(cov_odp_processed) %></td>
        <td><%= link_to 'Destroy', cov_odp_processed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @cov_odp_processeds %>

<%= link_to 'New Cov Odp Processed', new_cov_odp_processed_path %>

<%= link_to "Log out", destroy_user_session_path, method: "delete" %>