<p id="notice"><%= notice %></p>

<h1>Cov Odps</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Amount</th>
      <th>Datetime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cov_odps.each do |cov_odp| %>
      <tr>
        <td><%= cov_odp.city %></td>
        <td><%= cov_odp.amount %></td>
        <td><%= cov_odp.dateTime %></td>
        <td><%= link_to 'Show', cov_odp %></td>
        <td><%= link_to 'Edit', edit_cov_odp_path(cov_odp) %></td>
        <td><%= link_to 'Destroy', cov_odp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @cov_odps %>

<%= link_to 'New Cov Odp', new_cov_odp_path %>

<%= link_to "Log out", destroy_user_session_path, method: "delete" %>