<% content_for :active_menu do %>
  active
<% end %>

<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <p id="notice"><%= notice %></p>

    <div class="card">
      <div class="card-header">
        <h3>CoV Odps</h3>
      </div>
      <div class="table-responsive py-3">
        <table class="table table-flush" id="datatable-kota">
          <thead class="thead-light">
            <tr>
              <th>City</th>
              <th>Amount</th>
              <th>Datetime</th>
              <th>Tool</th>
            </tr>
          </thead>

          <tbody>
            <% @cov_odps.each do |cov_odp| %>
              <tr>
                <td><%= cov_odp.city.name %></td>
                <td><%= cov_odp.amount %></td>
                <td><%= cov_odp.dateTime %></td>
                <td>
                  <%= link_to cov_odp, class: "btn btn-icon btn-sm btn-info" do %>
                    <%= icon("fas","eye", class: "text-white")%>
                  <% end %>
                  <%= link_to edit_cov_odp_path(cov_odp), class: "btn btn-icon btn-sm btn-warning" do %>
                    <%= icon("fas", "edit", class: "text-white")%>
                  <% end %>
                  <%= link_to cov_odp, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-icon btn-sm btn-danger" do %>
                    <%= icon("fas", "trash", class: "text-white")%>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>


    <br>
    <%# paginate @cities %>



    <%= render partial: 'layouts/footer_back' %>
  </div>
<% end %>

<% content_for :button_header do %>
  <div class="col-lg-6 col-5 text-right">
    <%= link_to 'New Cov Odp', new_cov_odp_path, class: "btn btn-sm btn-neutral" %>
  </div>
<% end %>

<%= render partial: 'layouts/body' %>
