<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @cov_odp.city %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @cov_odp.amount %>
</p>

<p>
  <strong>Datetime:</strong>
  <%= @cov_odp.dateTime %>
</p>

<%= link_to 'Edit', edit_cov_odp_path(@cov_odp) %> |
<%= link_to 'Back', cov_odps_path %>
