
<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <p id="notice"><%= notice %></p>

    <div class="card">
      <div class="card-header">
        <h3>Show Hospital</h3>
      </div>
      <div class="card-body">
        
      <p>
        <strong>City:</strong>
        <%= @hospital.city.name %>
      </p>

      <p>
        <strong>Name hospital:</strong>
        <%= @hospital.name_hospital %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @hospital.address %>
      </p>

      <p>
        <strong>Phone number:</strong>
        <%= @hospital.phone_number %>
      </p>
      </div>
      <div class="card-footer">

        <%= link_to 'Edit', edit_hospital_path(@hospital), class: "btn btn-primary" %>

        <%= link_to 'Back', hospitals_path, class: "btn btn-secondary" %>

      </div>

    </div>

    
    <br>
    <%# paginate @cities %>



    <%= render partial: 'layouts/footer_back' %>
  </div>
<% end %>

<% content_for :button_header do %>
  <div class="col-lg-6 col-5 text-right">
    <%= link_to 'New Hospital', new_hospital_path, class: "btn btn-sm btn-neutral" %>
  </div>
<% end %>
      
<%= render partial: 'layouts/body' %>
