<% content_for :isi do %>
  <div class="container-fluid mt--6">
    <p id="notice"><%= notice %></p>

    <h1>Cities</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Positif</th>
          <th>Negatif</th>
          <th>Sembuh</th>
          <th>Meninggal</th>
          <th>ODP Proses</th>
          <th>ODP Selesai</th>
          <th>Total ODP</th>
          <th>PDP Proses</th>
          <th>PDP Selesai</th>
          <th>Total PDP</th>
          <th>Call center</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @cities.each do |city| %>
          <tr>
            <td><%= city.name %></td>
            <td><%= city.cov_positive_count %></td>
            <td><%= city.cov_negative_count %></td>
            <td><%= city.cov_recovered_count %></td>
            <td><%= city.cov_died_count %></td>
            <td><%= city.cov_odp_count %></td>
            <td><%= city.cov_odp_processed_count %></td>
            <td><%= city.cov_odp_processed_count %></td>
            <td><%= city.cov_pdp_count %></td>
            <td><%= city.cov_pdp_processed_count %></td>
            <td><%= city.cov_pdp_processed_count %></td>
            <td><%= city.call_center %></td>
            <td><%= link_to 'Show', city %></td>
            <td><%= link_to 'Edit', edit_city_path(city) %></td>
            <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= paginate @cities %>

    <%= link_to 'New City', new_city_path %>


    <%= render partial: 'layouts/footer_back' %>
  </div>
<% end %>
<%= render partial: 'layouts/body' %>
