
<% content_for :isi do %>
<div class="container">
    <div class="row justify-content-left mt--5">
        <div class="col">
            <div class="card bg-transparent no-shadow mb-0">
            <div class="card-body bg-transparent px-0">
                <h5 class="h2 card-title mb-0">Frequently Ask Question</h5>
            </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apa itu Novel Coronavirus (2019-nCoV)?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Novel coronavirus (2019-nCoV) adalah jenis baru coronavirus yang belum pernah diidentifikasi sebelumnya pada manusia. Coronavirus merupakan keluarga besar virus yang menyebabkan penyakit pada manusia dan hewan. Pada manusia menyebabkan penyakit mulai flu biasa hingga penyakit yang serius seperti Middle East Respiratory Syndrome (MERS) dan Sindrom Pernapasan Akut Berat/ Severe Acute Respiratory Syndrome (SARS).
                        <br>
                        Pada 11 Februari 2020, World Health Organization (WHO) mengumumkan nama penyakit yang disebabkan 2019-nCov, yaitu Coronavirus Disease (COVID-19).</p>

                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apa saja gejala COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Gejala umum berupa demam ≥38C, batuk, pilek, nyeri tenggorokan dan sesak napas. Jika ada orang dengan gejala tersebut pernah melakukan perjalanan ke Tiongkok (terutama Wuhan), atau pernah merawat/kontak dengan penderita COVID-19, maka terhadap orang tersebut akan dilakukan pemeriksaan laboratorium lebih lanjut untuk memastikan diagnosisnya.
                </div>
            </div>
        
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Seberapa bahaya COVID-19 ini?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Seperti penyakit pernapasan lainnya, infeksi 2019-nCoV dapat menyebabkan gejala ringan termasuk pilek, sakit tenggorokan, batuk, dan demam. Beberapa orang mungkin akan menderita sakit yang parah, seperti disertai pneumonia atau kesulitan bernafas. Walaupun fatalitas penyakit ini masih jarang, namun bagi orang yang berusia lanjut, dan orang-orang dengan kondisi medis yang sudah ada sebelumnya (seperti, diabetes dan penyakit jantung), mereka biasanya lebih rentan untuk menjadi sakit parah.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Bagaimana manusia bisa terinfeksi COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Sampai saat ini, belum diketahui bagaimana manusia bisa terinfeksi virus ini. Para ahli masih sedang melakukan penyelidikan untuk menentukan sumber virus, jenis paparan, cara penularan dan pola klinis serta perjalanan penyakit. Hasil penyelidikan sementara dari beberapa institusi di kota Wuhan, sebagian kasus terjadi pada orang yang bekerja di pasar hewan/ikan, namun belum dapat dipastikan jenis hewan penular virus ini. Hingga saat ini dilaporkan adanya penularan antar manusia yang terbatas (antar keluarga dekat dan petugas kesehatan yang merawat kasus).
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Bisakah manusia terinfeksi novel coronavirus dari hewan?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Saat ini sumber hewan penular COVID-19 belum diketahui, WHO terus menyelidiki berbagai kemungkinan jenis hewan penularnya. Sangat dimungkinkan hewan dari pasar hewan hidup di Tiongkok bertanggung jawab atas terinfeksinya manusia yang dilaporkan pertama kali. Untuk itu, disarankan pada saat berkunjung ke pasar hewan  hidup, hindari kontak langsung dengan hewan dan permukaan yang bersentuhan dengan hewan tanpa alat pelindung diri. 
                        <br>
                        Hindari juga konsumsi produk hewani mentah atau setengah matang. Penanganan daging mentah, susu, atau produk hewani harus diperhatikan, untuk menghindari kontaminasi silang dengan makanan mentah yang lain, lakukanlah dengan memperhatikan keamanan pangan yang baik.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apa itu Novel Coronavirus (2019-nCoV)?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Novel coronavirus (2019-nCoV) adalah jenis baru coronavirus yang belum pernah diidentifikasi sebelumnya pada manusia. Coronavirus merupakan keluarga besar virus yang menyebabkan penyakit pada manusia dan hewan. Pada manusia menyebabkan penyakit mulai flu biasa hingga penyakit yang serius seperti Middle East Respiratory Syndrome (MERS) dan Sindrom Pernapasan Akut Berat/ Severe Acute Respiratory Syndrome (SARS).
                        <br>
                        Pada 11 Februari 2020, World Health Organization (WHO) mengumumkan nama penyakit yang disebabkan 2019-nCov, yaitu Coronavirus Disease (COVID-19).</p>

                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Benarkah COVID-19 berasal dari kelelawar atau hewan lainnya?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Sampai saat ini hewan penular 2019-nCoV belum diketahui.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apakah COVID-19 dapat ditularkan antar manusia?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Ya, COVID-19 dapat ditularkan dari orang ke orang, biasanya setelah kontak erat dengan pasien yang terinfeksi, misalnya, di tempat kerja, di rumah tangga, atau fasilitas pelayanan kesehatan.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Berapa lama virus ini bertahan di permukaan benda?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Sampai saat ini belum diketahui berapa lama 2019-nCoV bertahan di permukaan suatu benda, meskipun ada informasi awal yang menunjukkan dapat bertahan hingga beberapa jam. Namun desinfektan sederhana dapat membunuh virus tersebut sehingga tidak mungkin menginfeksi orang lagi.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apakah sudah ada vaksin atau pengobatan spesifik untuk COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Belum ada vaksin atau pengobatan spesifik untuk virus ini. Namun, gejala yang disebabkan oleh virus ini dapat diobati. Oleh karena itu pengobatan harus didasarkan pada kondisi klinis pasien dan perawatan suportif dapat sangat efektif.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apakah antibiotik efektif dalam mencegah dan mengobati COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Tidak, antibiotik tidak bekerja melawan virus, hanya bakteri. Novel Coronavirus (2019-nCoV) adalah virus. Oleh karena itu, antibiotik tidak boleh digunakan sebagai sarana pencegahan atau pengobatan. Namun, jika Anda dirawat di rumah sakit untuk COVID-19, Anda mungkin menerima antibiotik, karena infeksi sekunder bakteri mungkin terjadi.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Siapa saja yang berisiko terinfeksi COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Orang yang tinggal atau bepergian di daerah di mana virus 2019-nCoV bersirkulasi sangat mungkin berisiko terinfeksi. Saat ini, Tiongkok merupakan negara terjangkit COVID-19 dengan sebagian besar kasus telah dilaporkan. Mereka yang terinfeksi di negara lain adalah orang-orang yang belum lama ini bepergian dari Tiongkok atau yang telah tinggal atau bekerja secara dekat dengan para wisatawan, seperti anggota keluarga, rekan kerja atau tenaga medis yang merawat pasien sebelum mereka tahu pasien tersebut terinfeksi COVID-19.

Petugas kesehatan yang merawat pasien yang terinfeksi COVID-19 berisiko lebih tinggi dan harus konsisten melindungi diri mereka sendiri dengan prosedur pencegahan dan pengendalian infeksi yang tepat.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Manakah yang lebih rentan terinfeksi COVID-19, apakah orang yang lebih tua, atau orang yang lebih muda?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Tidak ada batasan usia orang-orang dapat terinfeksi COVID-19. Namun orang yang lebih tua dan orang-orang dengan kondisi medis yang sudah ada sebelumnya (seperti asma, diabetes, penyakit jantung) tampaknya lebih rentan untuk menderita sakit parah.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Bagaimana membedakan antara COVID-19 dengan influenza biasa?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Orang yang terinfeksi 2019-nCoV dan influenza akan mengalami gejala infeksi saluran pernafasan yang sama, seperti demam, batuk dan pilek. Walaupun gejalanya sama, tapi penyebab virusnya berbeda-beda. Namun kesamaan gejala tersebut membuat kita sulit mengidentifikasi masing-masing penyakit tersebut, sehingga pemeriksaan laboratorium sangat diperlukan untuk mengkonfirmasi apakah seseorang terinfeksi 2019-nCoV.
                        <br>
                        Untuk itulah WHO merekomendasikan setiap orang yang menderita demam, batuk, dan sulit bernapas harus mencari pengobatan sejak dini, dan memberitahukan petugas kesehatan jika mereka telah melakukan perjalanan dalam 14 hari sebelum muncul gejala, atau jika mereka telah melakukan kontak erat dengan seseorang yang sedang menderita gejala infeksi saluran pernafasan.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Berapa lama waktu yang diperlukan sejak tertular/terinfeksi hingga muncul gejala COVID-19?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Waktu yang diperlukan sejak tertular/terinfeksi hingga muncul gejala disebut masa inkubasi. Saat ini masa inkubasi COVID-19 diperkirakan antara 2-11 hari, dan perkiraan ini dapat berubah sewaktu-waktu sesuai perkembangan kasus. Berdasarkan data dari penyakit akibat coronavirus sebelumnya, seperti MERS dan SARS, masa inkubasi COVID-19 juga bisa mencapai 14 hari.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Bisakah COVID-19 terdeteksi dari orang yang tidak menunjukkan gejala?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Sangat penting untuk memahami kapan orang yang terinfeksi dapat menyebarkan virus ke orang lain untuk upaya pengendalian. Informasi medis terperinci dari orang yang terinfeksi diperlukan untuk menentukan periode infeksi COVID-19. Menurut laporan terbaru, ada kemungkinan orang yang terinfeksi COVID-19 dapat menular sebelum menunjukkan gejala yang signifikan. Namun, berdasarkan data yang tersedia saat ini, sebagian besar yang menyebabkan penyebaran adalah orang-orang yang memiliki gejala.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Amankah jika kita menerima paket barang dari Tiongkok atau negara lain yang melaporkan virus ini?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Ya, aman. Orang yang menerima paket tidak berisiko tertular COVID-19. Dari pengalaman dengan coronavirus lain, kita tahu bahwa jenis virus ini tidak bertahan lama pada objek, seperti surat atau paket.
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apakah sudah ada pembatasan untuk bepergian ke Tiongkok?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">WHO sudah menetapkan COVID-19 sebagai Public Health Emergency of International Concern(PHEIC) atau Kegawatdaruratan Kesehatan Masyarakat yang Meresahkan Dunia pada tanggal 30 Januari 2020. Walaupun sampai saat ini WHO belum memberlakukan pembatasan perjalanan ke Tiongkok, namun beberapa negara sudah memberlakukan penghentian sementara penerbangan dari dan ke Tiongkok.

                        Sesuai arahan Presiden RI terkait perjalanan ke mainland Tiongkok, yaitu:
                        <ul>
                            <li>Seluruh penerbangan langsung dari dan ke mainland Tiongkok untuk sementara dihentikan mulai hari Rabu tanggal 5 Februari 2020 pukul 00.00.</li>
                            <li>Semua pendatang yang tiba dari mainland Tiongkok dan sudah berada di sana sebelumnya selama 14 hari, untuk sementara tidak diizinkan untuk masuk dan melakukan transit di Indonesia.</li>
                            <li>Kebijakan pemberian fasilitas bebas visa kunjungan dan visa on arrival untuk warga negara Tiongkok yang bertempat tinggal di mainland Tiongkok untuk sementara dihentikan.</li>
                            <li>Warga negara Indonesia untuk sementara tidak melakukan perjalanan ke mainland Tiongkok.</li>
                        </ul>
                        
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Berapa banyak orang yang telah terinfeksi COVID-19 dan negara mana saja yang sudah ada kasusnya?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">WHO secara ketat memantau situasi terkini dan secara teratur menerbitkan informasi tentang penyakit ini. 
                                        <br>    
                                        Informasi lebih lanjut mengenai penyakit ini dapat dilihat melalui: 
                                        <br>
                                        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">https://www.who.int/emergencies/diseases/novel-coronavirus-2019</a> atau
                                        <br>
                                        <a href="http://infeksiemerging.kemkes.go.id/category/situasi-infeksi-emerging/info-corona-virus/">http://infeksiemerging.kemkes.go.id/category/situasi-infeksi-emerging/info-corona-virus/</a>
                </div>
            </div>
        
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card card-expand">
                <div class="card-header pb-1">
                    <h2 class="card-title">Apakah di Indonesia sudah ditemukan kasus yang terinfeksi?</h2>
                </div>
                <div class="card-body" hidden="true">
                    <p class="card-text">Informasi terbaru dapat dilihat melalui: <a href="http://infeksiemerging.kemkes.go.id/category/situasi-infeksi-emerging/info-corona-virus/" >http://infeksiemerging.kemkes.go.id/category/situasi-infeksi-emerging/info-corona-virus/</a>
                </div>
            </div>
        
        </div>
    </div>
</div>

  

  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-4">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="http://diskominfo.kalselprov.go.id" class="text-gray font-weight-bold ml-1" target="_blank">Diskominfo Prov. Kalsel</a>
            <br>Telah dikunjungi <%= @visitor_count %> kali.
          </div>
        </div>
        <div class="col-xl-3">
          <div class="copyright text-right text-xl-left text-muted">
            
          </div>
        </div>
        <div class="col-xl-5">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'News', public_news_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', public_contact_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'FAQ', public_faq_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <style>
    .hitCounter.badge-done0{
      background-color: #0000 !important;
      background-image: none !important;
      display: inline !important;
      background-repeat: none !important;
      text-indent: 0 !important;
      font-size: 14px !important;
      color: #525f7f !important;
      padding: 0px 0px !important;
      background-position: none !important;
    }
  </style>

<% end %>
<%= render partial: 'layouts/body' %>

