<% content_for :header_content do %>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body p-0">
        <%= image_tag asset_path('img/header_web.png'), class: "card-img"%>
      </div>
    </div>
  </div>
</div>
<% end %>

<% content_for :isi do %>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-yellow">
          <div class="card-body">
            <div class="row align-item-center">
              <div class="col-lg-auto">
                <div class="icon icon-md icon-shape bg-white text-dark rounded-circle shadow">
                  <i class="fa fa-phone-volume"></i>
                </div>
              </div>
              <div class="col-lg-auto">
                <h4 class="font-weight-bold mb-0 text-dark text-center">Dinkes Kalsel</h4>
                <div class="row">
                  <div class="col">
                    <h2 class="font-weight-bolder mb-0 text-dark">0821 5771 8672</h2>
                  </div>
                  <div class="col">
                    <h2 class="font-weight-bolder mb-0 text-dark">0821 5771 8673</h2>
                  </div>
                </div>
              </div>
              <div class="col-lg-auto">
                <h4 class="font-weight-bold mb-0 text-dark">Hotline</h4>
                <h2 class="font-weight-bolder mb-0 text-dark">119</h2>
              </div>
              <div class="col text-center">
                <h4 class="font-weight-bold mb-0 text-dark">"Mari Kita Seberataan Bergerak Untuk Mencegah Penyebaran Corona Di Banua Kita"</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow">
          <div class="card-body bg-transparent px-0">
            <h5 class="h2 card-title mb-0">Angka Kejadian di Kalimantan Selatan</h5>
            <small class="text-muted">Update terakhir Senin, 23 Maret 2020 16:00</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-orange">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase text-muted mb-0 text-white">Positif</h4>
                <span class="h1 font-weight-bolder mb-0 text-white">1</span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <i class="fa fa-user-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-blue">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase text-muted mb-0 text-white">Negatif</h4>
                <span class="h1 font-weight-bolder mb-0 text-white">0</span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <i class="fa fa-user-minus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-green">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase text-muted mb-0 text-white">Sembuh</h4>
                <span class="h1 font-weight-bolder mb-0 text-white">0</span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <i class="fa fa-user-shield"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-red">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase text-muted mb-0 text-white">Meninggal</h4>
                <span class="h1 font-weight-bolder mb-0 text-white">0</span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <i class="fa fa-user-times"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="h3 mb-0">Pasien Dalam Pengawasan (PDP)</h5>
          </div>
          <div class="card-body pt-4">
            <div class="row">
              <span class="h1 font-weight-bolder mb-0 text-dark col-lg-5 col-5 pt-lg-1">3</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col pt-lg-3 pt-2">Proses</span>
              <span class="h4 font-weight-bold mb-0 text-dark col-lg-auto col-auto pt-lg-3 pt-2">(100%)</span>
            </div>
            <div class="progress progress-xs mb-3">
              <div class="progress-bar bg-gradient-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="row">
              <span class="h3 font-weight-bolder mb-0 text-dark col-lg-5 col-5">0</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col">Selesai</span>
              <span class="h4 font-weight-bold mb-0 text-dark col-lg-auto col-auto">(0%)</span>
            </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-gradient-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
              </div>
            <div class="row mb-1">
              <span class="h3 font-weight-bolder mb-0 text-dark col-lg-5 col-5">3</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col">Total</span>
            </div>

          </div>

        </div>

        <div class="card">
          <div class="card-header">
            <h5 class="h3 mb-0">Orang Dalam Pemantauan (ODP)</h5>
          </div>
          <div class="card-body pt-4">
            <div class="row">
              <span class="h1 font-weight-bolder mb-0 text-dark col-lg-5 col-5 pt-lg-1">415</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col pt-lg-3 pt-2">Proses</span>
              <span class="h4 font-weight-bold mb-0 text-dark col-lg-auto col-auto pt-lg-3 pt-2">(100%)</span>
            </div>
            <div class="progress progress-xs mb-3">
              <div class="progress-bar bg-gradient-red" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
            </div>
            <div class="row">
              <span class="h3 font-weight-bolder mb-0 text-dark col-lg-5 col-5">0</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col">Selesai</span>
              <span class="h4 font-weight-bold mb-0 text-dark col-lg-auto col-auto">(0%)</span>
            </div>
              <div class="progress progress-xs mb-3">
                <div class="progress-bar bg-gradient-green" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
              </div>
            <div class="row pt-1">
              <span class="h3 font-weight-bolder mb-0 text-dark col-lg-5 col-5">415</span>
              <span class="h4 text-muted mb-0 text-dark col-lg col">Total</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div id="kalsel_mp_cont" class="vector-map" data-toggle="vectormap" data-map="kalsel_mp"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0 text-center">
            <h5 class="h2 card-title mb-0">Tentang Covid-19</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body p-0 my-lg-6">
            <%= image_tag asset_path('img/covid-19.png'), class: "card-img"%>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="">Apa Itu COVID-19?</h3>
        <p class="text-justify">
            COVID-19 adalah penyakit yang disebabkan oleh Novel Coronavirus (2019-nCoV), jenis baru coronavirus yang pada manusia menyebabkan penyakit mulai flu biasa hingga penyakit yang serius seperti Middle East Respiratory Syndrome (MERS) dan Sindrom Pernapasan Akut Berat/ Severe Acute Respiratory Syndrome (SARS).
            Pada 11 Februari 2020, World Health Organization (WHO) mengumumkan nama penyakit yang disebabkan 2019-nCov, yaitu Coronavirus Disease (COVID-19).
        </p>
        <h3 class="">Gejala</h3>
        <p class="text-justify">
            Gejala umum berupa demam ≥38°C, batuk kering, dan sesak napas. Jika ada orang yang dalam 14 hari sebelum muncul gejala tersebut pernah melakukan perjalanan ke negara terjangkit, atau pernah merawat/kontak erat dengan penderita COVID-19, maka terhadap orang tersebut akan dilakukan pemeriksaan laboratorium lebih lanjut untuk memastikan diagnosisnya.
        </p>
        <h3 class="">Penularan</h3>
        <p class="text-justify">
            Seseorang dapat terinfeksi dari penderita COVID-19. Penyakit ini dapat menyebar melalui tetesan kecil (droplet) dari hidung atau mulut pada saat batuk atau bersin. Droplet tersebut kemudian jatuh pada benda di sekitarnya. Kemudian jika ada orang lain menyentuh benda yang sudah terkontaminasi dengan droplet tersebut, lalu orang itu menyentuh mata, hidung atau mulut (segitiga wajah), maka orang itu dapat terinfeksi COVID-19. Seseorang juga bisa terinfeksi COVID-19 ketika tanpa sengaja menghirup droplet dari penderita. Inilah sebabnya mengapa kita penting untuk menjaga jarak hingga kurang lebih satu meter dari orang yang sakit.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h3>Mari Bergerak Cegah Penyebaran Covid-19</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>
                  Covid-19 menyebar melalui tetesan kecil (droplet) saat batuk atau bersin. Untuk itu lakukan hal berikut :
                </h4>
                <ul class="pl-3">
                  <li>Rajin Olahraga dan Istirahat Cukup</li>
                  <li>Konsumsi Gizi Seimbang, Perbanyak Sayur dan Buah</li>
                  <li>Jangan Mengkonsumsi Daging Yang Tidak Dimasak</li>
                  <li>Hati-hati kontak dengan hewan</li>
                  <li>Sering Cuci Tangan Pakai Sabun</li>
                  <li>Hindari Menyentuh Area Wajah</li>
                  <li>Gunakan Masker Bila Batuk/Pilek</li>
                  <li>Kurangi Kontak Fisik Dengan Sesama, Jaga Jarak Minimal 1 meter (Sosial Distancing!)</li>
                  <li>Bila Batuk, Pilek, Sesak Nafas Segera Ke Fasilitas Kesehatan</li>
                </ul>
              </div>
              <div class="col-md-6 mt-lg--5">
                <%= image_tag asset_path('img/gejala-covid-19.jpg'), class: "card-img"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">Call Center/Hotline</h2>
          </div>
          <div class="table-responsive py-3">
            <table class="table table-flush" id="datatable-kota">
              <thead class="thead-light">
                <tr>
                  <th>No</th>
                  <th>Kabupaten/Kota</th>
                  <th>Call Center</th>
                  <th>Hotline</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Banjarmasin</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Banjarbaru</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Banjar</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Tanah Laut</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Rantau</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow">
          <div class="card-body bg-transparent px-0 text-center">
            <h5 class="h2 card-title mb-0">Infografik</h5>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
    <div class="col-md-12"> -->
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner row w-100 mx-auto" role="listbox">
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4 active">
            <div class="card">
              <%= image_tag asset_path('img/kalender-event.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/gejala-covid-19.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/fase-1-1.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/fase-1-2.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/fase-1-3.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/fase-1-4.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/cara-memakai-masker.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/covid-19-petugas-kesehatan.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/germas.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/hotline-kalsel-corona.png'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/Info-corona-kalsel.png'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/jaga-kebersihan-masjid.jpg'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/PDP-kalsel.png'), class:"card-img-top"%>
            </div>
          </div>
          <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card">
              <%= image_tag asset_path('img/tunda-bepergian.png'), class:"card-img-top"%>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <!-- </div>
    </div> -->
  </div>

  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="http://diskominfo.kalselprov.go.id" class="text-gray font-weight-bold ml-1" target="_blank">Diskominfo Prov. Kalsel</a>
          </div>
        </div>
        <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'News', public_news_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', public_contact_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'FAQ', public_faq_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer> 

<% end %>
<%= render partial: 'layouts/body' %>
