<% content_for :header_content do %>
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body p-0">
          <%= image_tag asset_path('img/header/header_web.png'), class: "card-img"%>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :isi do %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="card bg-yellow mb-0">
          <div class="card-body">
            <div class="row align-item-center">
              <div class="col text-center mt-12 mt-lg-0">
                <h3 class="font-weight-bold mb-0 text-dark">"Mari Bergerak Mencegah Penyebaran Covid-19 Di Banua Kita"</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0">
            <h2 class="h2 card-title mb-1">Call Center Dinas Kesehatan</h2>

            <div class="card bg-info mb-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0 text-white">Telpon</h4>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a href="tel:082157718672" class="text-white">0821 5771 8672</a></span> <br>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a href="tel:082157718673" class="text-white">0821 5771 8673</a></span>
                    <h4 class="font-weight-bold mb-0 text-white">Hotline</h4>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a class="text-white" href="tel:119">119</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-white rounded-circle shadow">
                      <%= icon("fas", "phone") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0">
            <h2 class="h2 card-title mb-1">Call Center Badan Penanggulangan Bencana Daerah</h2>

            <div class="card bg-orange mb-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h4 class="card-title text-uppercase text-muted mb-0 text-white">Telpon</h4>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a href="tel:082157718672" class="text-white">0511 5911 968</a></span> <br>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a href="tel:082157718673" class="text-white">0811 5004 474</a></span> <br>
                    <h4 class="font-weight-bold mb-0 text-white">Hotline</h4>
                    <span class="h1 font-weight-bolder mb-0 text-white"><a class="text-white" href="#">-</a></span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-white rounded-circle shadow">
                      <%= icon("fas", "phone") %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0">
            <h2 class="h2 card-title mb-0">Angka Sebaran di Kalimantan Selatan</h2>
            <small class="h4 text-muted"><%= @city_last_updated.updated_at.strftime("%B %d, %Y %H:%M:%S") %></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="card bg-red">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="card-title text-uppercase mb-0 text-white">Positif</h3>
                <span class="h1 font-weight-bolder mb-0 text-white"><%= @cov_positive_count %></span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <%= icon("fas", "user-plus") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-yellow">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="card-title text-uppercase mb-0 text-white">PDP</h3>
                <span class="h1 font-weight-bolder mb-0 text-white"><%= @cov_pdp_count %></span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <%= icon("fas", "user-tag") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-green">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h3 class="card-title text-uppercase mb-0 text-white">ODP</h3>
                <span class="h1 font-weight-bolder mb-0 text-white"><%= @cov_odp_count %></span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <%= icon("fas", "user-check") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-orange">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase mb-0 text-white">Meninggal</h3>
                <span class="h1 font-weight-bolder mb-0 text-white"><%= @cov_died_count %></span>
                <span class="h3 font-weight-normal mb-0 text-white">Orang</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <%= icon("fas", "user-times") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card bg-gray">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h4 class="card-title text-uppercase mb-0 text-white">Jumlah Penduduk</h3>
                <span class="h2 font-weight-bolder mb-0 text-white">4.303.979</span>
                <span class="h3 font-weight-normal mb-0 text-white">Jiwa</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-white rounded-circle shadow">
                  <%= icon("fas", "users") %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card bg-default">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h1 class="card-title text-uppercase mb-2 text-white">Ketahui Resiko dari Covid-19</h3>
                <span class="h5 font-weight-normal mb-0 text-white">
                  COVID-19 merupakan penyakit yang disebabkan Novel Coronavirus 2019. Meski bergejala mirip dengan flu biasa, COVID-19 sampai saat ini memiliki fatalitas lebih tinggi. Virus ini juga menyebar dengan sangat cepat karena bisa pindah dari orang ke orang bahkan sebelum orang tersebut tidak menunjukkan gejala.
                  Penting bagi Anda untuk menilai kondisi secara mandiri. Anda bergejala?</span>
              </div>
              <div class="col-auto">
                  <a class="btn btn-outline-secondary text-white"  target="_blank" href="https://covid19.prixa.ai/">Nilai Diri Saya</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div width="100%" class="col">
            <div class="card" width="100%">
              
              <div class="card-body p-0" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
                <iframe width="100%" height="325" src="https://www.youtube.com/embed/CRsBHFUIp_w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">Peta Sebaran di Kalimantan Selatan</h2>
          </div>
          <div class="card-body p-0">
            <div id="kalsel_mp_cont" class="vector-map" data-toggle="vectormap" data-map="kalsel_mp"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row row justify-content-center">
      <div class="col-12">

        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <!-- Title -->
            <h5 class="h3 mb-0">Daftar Rumah Sakit Rujukan</h5>
          </div>
          <!-- Card body -->
          <div class="card-body p-0">
            <!-- List group -->
            <div class="row">
              <div class="col-md-4">
                <ul class="list-group list-group-flush">
                  <% @hospitals.each_with_index do |hospital,index| %>
                    <% if (index%3 == 0) %>
                      <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4 border-0">
                        <div class="checklist-item checklist-item-success">
                          <div class="checklist-info">
                            <h4 class="checklist-title mb-0"><%= hospital.name_hospital %>
                            <% if (hospital.is_primary) %>
                            <% else %>
                              (Cadangan)
                            <% end %>
                            </h4>
                            <span class="text-gray h5"><%= hospital.city.name %></span>
                            <br>
                            <%
                                telpons = hospital.phone_number.split(" ")
                                telpons.each_with_index do |telpon,index| %>
                                  <% if (hospital.is_primary) %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-green text-white">
                                      <%= telpon %>
                                    </span></a>
                                  <% else %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-yellow text-black">
                                      <%= telpon %>
                                    </span></a>
                                  <% end %>
                            <%  end
                            %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-group list-group-flush">
                  <% @hospitals.each_with_index do |hospital,index| %>
                    <% if (index%3 == 1) %>
                      <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4 border-0">
                        <div class="checklist-item checklist-item-success">
                          <div class="checklist-info">
                            <h4 class="checklist-title mb-0"><%= hospital.name_hospital %>
                            <% if (hospital.is_primary) %>
                            <% else %>
                              (Cadangan)
                            <% end %>
                            </h4>
                            <span class="text-gray h5"><%= hospital.city.name %></span>
                            <br>
                            <%
                                telpons = hospital.phone_number.split(" ")
                                telpons.each_with_index do |telpon,index| %>
                                  <% if (hospital.is_primary) %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-green text-white">
                                      <%= telpon %>
                                    </span></a>
                                  <% else %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-yellow text-black">
                                      <%= telpon %>
                                    </span></a>
                                  <% end %>
                            <%  end
                            %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
              <div class="col-md-4">
                <ul class="list-group list-group-flush">
                  <% @hospitals.each_with_index do |hospital,index| %>
                    <% if (index%3 == 2) %>
                      <li class="checklist-entry list-group-item flex-column align-items-start py-4 px-4 border-0">
                        <div class="checklist-item checklist-item-success">
                          <div class="checklist-info">
                            <h4 class="checklist-title mb-0"><%= hospital.name_hospital %>
                            <% if (hospital.is_primary) %>
                            <% else %>
                              (Cadangan)
                            <% end %>
                            </h4>
                            <span class="text-gray h5"><%= hospital.city.name %></span>
                            <br>
                            <%
                                telpons = hospital.phone_number.split(" ")
                                telpons.each_with_index do |telpon,index| %>
                                  <% if (hospital.is_primary) %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-green text-white">
                                      <%= telpon %>
                                    </span></a>
                                  <% else %>
                                    <a href="tel:<%= telpon %>"><span class="badge badge-md bg-yellow text-black">
                                      <%= telpon %>
                                    </span></a>
                                  <% end %>
                            <%  end
                            %>
                          </div>
                        </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0 text-center">
            <h5 class="h2 card-title mb-0">Tentang Covid-19</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body p-0 my-lg-6">
            <%= image_tag asset_path('img/infografik/covid-19.png'), class: "card-img"%>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h3 class="">Apa Itu COVID-19?</h3>
        <p class="text-justify">
            COVID-19 adalah penyakit yang disebabkan oleh Novel Coronavirus (2019-nCoV), jenis baru coronavirus yang pada manusia menyebabkan penyakit mulai flu biasa hingga penyakit yang serius seperti Middle East Respiratory Syndrome (MERS) dan Sindrom Pernapasan Akut Berat/ Severe Acute Respiratory Syndrome (SARS).
            Pada 11 Februari 2020, World Health Organization (WHO) mengumumkan nama penyakit yang disebabkan 2019-nCov, yaitu Coronavirus Disease (COVID-19).
        </p>
        <h3 class="">Gejala</h3>
        <p class="text-justify">
            Gejala umum berupa demam ≥38°C, batuk kering, dan sesak napas. Jika ada orang yang dalam 14 hari sebelum muncul gejala tersebut pernah melakukan perjalanan ke negara terjangkit, atau pernah merawat/kontak erat dengan penderita COVID-19, maka terhadap orang tersebut akan dilakukan pemeriksaan laboratorium lebih lanjut untuk memastikan diagnosisnya.
        </p>
        <h3 class="">Penularan</h3>
        <p class="text-justify">
            Seseorang dapat terinfeksi dari penderita COVID-19. Penyakit ini dapat menyebar melalui tetesan kecil (droplet) dari hidung atau mulut pada saat batuk atau bersin. Droplet tersebut kemudian jatuh pada benda di sekitarnya. Kemudian jika ada orang lain menyentuh benda yang sudah terkontaminasi dengan droplet tersebut, lalu orang itu menyentuh mata, hidung atau mulut (segitiga wajah), maka orang itu dapat terinfeksi COVID-19. Seseorang juga bisa terinfeksi COVID-19 ketika tanpa sengaja menghirup droplet dari penderita. Inilah sebabnya mengapa kita penting untuk menjaga jarak hingga kurang lebih satu meter dari orang yang sakit.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header border-0 pb-0">
            <h3>Mari Bergerak Cegah Penyebaran Covid-19</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>
                  Covid-19 menyebar melalui tetesan kecil (droplet) saat batuk atau bersin. Untuk itu lakukan hal berikut :
                </h4>
                <ul class="pl-3">
                  <li>Rajin Olahraga dan Istirahat Cukup</li>
                  <li>Konsumsi Gizi Seimbang, Perbanyak Sayur dan Buah</li>
                  <li>Jangan Mengkonsumsi Daging Yang Tidak Dimasak</li>
                  <li>Hati-hati kontak dengan hewan</li>
                  <li>Sering Cuci Tangan Pakai Sabun</li>
                  <li>Hindari Menyentuh Area Wajah</li>
                  <li>Gunakan Masker Bila Batuk/Pilek</li>
                  <li>Kurangi Kontak Fisik Dengan Sesama, Jaga Jarak Minimal 1 meter (Sosial Distancing!)</li>
                  <li>Bila Batuk, Pilek, Sesak Nafas Segera Ke Fasilitas Kesehatan</li>
                </ul>
              </div>
              <div class="col-md-6 mt-lg--5">
                <%= image_tag asset_path('img/infografik/gejala-covid-19.jpg'), class: "card-img"%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Penilaian Diri -->
    <!-- <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-info">
          <div class="card-header bg-transparent border-0 pb-0">
            <h3 class="text-white">Mari Bergerak Cegah Penyebaran Covid-19</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-9">
                <p class="text-white">COVID-19 merupakan penyakit yang disebabkan Novel Coronavirus 2019. Meski bergejala mirip dengan flu biasa, COVID-19 sampai saat ini memiliki fatalitas lebih tinggi. Virus ini juga menyebar dengan sangat cepat karena bisa pindah dari orang ke orang bahkan sebelum orang tersebut tidak menunjukkan gejala.</p>
                <p class="text-white">ajkshdkajshkdjnaj</p>
              </div>
              <div class="col-md-3 mt-lg-4">
                <a href="/" class="btn btn-outline-secondary">
                  <span class="text-white font-weight-bold">Home</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h2 class="mb-0">Call Center/Hotline</h2>
          </div>
          <div class="table-responsive py-3">
            <table class="table table-flush" id="datatable-kota">
              <thead class="thead-light">
                <tr>
                  <th>No</th>
                  <th>Kabupaten/Kota</th>
                  <th>Call Center</th>
                  <th>Hotline</th>
                </tr>
              </thead>
              <tbody>
                <% @cities.each_with_index do |city,index|%>
                <tr>
                  <td><%= index+1 %></td>
                  <td>Pemerintah <%= city.name %></td>
                  <td>
                  <% if (city.call_center != nil)
                        telpons = city.call_center.split(" ")
                        telpons.each_with_index do |telpon,index| %>
                            <a href="tel:<%= telpon %>"><span class="badge badge-md bg-green text-white">
                              <%= telpon %>
                            </span></a>
                        <% end %></td>
                  <% end %>
                  <td>
                  
                  <% if (city.hotline != nil)
                      telpons = city.hotline.split(" ")
                      telpons.each_with_index do |telpon,index| %>
                          <a href="tel:<%= telpon %>"><span class="badge badge-md bg-secondary text-white">
                            <%= telpon %>
                          </span></a>
                      <% end %></td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0 text-center">
            <h5 class="h2 card-title mb-0">Infografik</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="main-carousel">
      <% @info_practices.each_with_index do |info_practice, index| %>
          <%= image_tag info_practice.image_content.url(:original), class: "carousel-image" %>
      <% end %>
    </div>
    <div class="row justify-content-center mt-6">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0 text-center">
            <h5 class="h2 card-title mb-0">Peraturan/Edaran Gubernur</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-dark">

      <div class="main-carousel card-body">
        <%= image_tag asset_path('img/pergub-edaran/07april/0001.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/07april/0002.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/07april/0003.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/07april/0004.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/hal-1-ed-2.jpeg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/hal-2-ed-2.jpeg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/Pergub-1.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/Pergub-2.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE No.900_518-1.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE No.900_518-2.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE No.900_518-3.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE No.900_518-4.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE-Sistem-Kerja-1.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE-Sistem-Kerja-2.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE-Tanggap-Darurat-Covid-1.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE-Tanggap-Darurat-Covid-2.jpg'), class: "carousel-image"%>
        <%= image_tag asset_path('img/pergub-edaran/SE-Absen-Apel.jpg'), class: "carousel-image"%>
      </div>
    </div>

  </div>
  

  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-4">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="http://diskominfo.kalselprov.go.id" class="text-gray font-weight-bold ml-1" target="_blank">Diskominfo Prov. Kalsel</a>
            <br>Telah dikunjungi <a class="hitCounter" href="https://visitorshitcounter.com/" target="_blank" title="Hit counter" data-name="6e2a12ebc889c1dc9754ce3d32a44ab1|5|ip|1|#ea5050|#ffffff|small|s-hit">Hit Counter</a> kali.<script>document.write("<script type='text/javascript' src='https://visitorshitcounter.com/js/hitCounter.js?v="+Date.now()+"'><\/script>");</script>
          </div>
        </div>
        <div class="col-xl-3">
          <div class="copyright text-right text-xl-left text-muted">
            
          </div>
        </div>
        <div class="col-xl-5">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'News', public_news_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', public_contact_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'FAQ', public_faq_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <style>
    .hitCounter.badge-done0{
      background-color: #0000 !important;
      background-image: none !important;
      display: inline !important;
      background-repeat: none !important;
      text-indent: 0 !important;
      font-size: 14px !important;
      color: #525f7f !important;
      padding: 0px 0px !important;
      background-position: none !important;
    }
  </style>

<% end %>
<%= render partial: 'layouts/body' %>
