
<% content_for :isi do %>
  <div class="container">
    <div class="row justify-content-left mt--5">
      <div class="col">
        <div class="card bg-transparent no-shadow mb-0">
          <div class="card-body bg-transparent px-0">
            <h5 class="h2 card-title mb-0">Berita Covid-19</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <% @informations.each do |information| %>
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4">
                  <%= image_tag information.image_content.url, class: "card-img-top" %>
                </div>
                <div class="col-lg-8">
                  <h5 class="h2 card-title mb-0"><%=information.tittle%></h5>
                  <small class="text-muted">by <%=information.user.username%> on <%=information.created_at%></small>
                  <p class="card-text mt-4 text-justify">
                    <%=h truncate(information.content.html_safe, :length => 700) %>
                  </p>
                  <%= link_to "Baca Selengkapnya", public_new_path(information), class: "btn btn-link px-0" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <footer class="py-5" id="footer-main">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-4">
          <div class="copyright text-center text-xl-left text-muted">
            &copy; 2020 <a href="http://diskominfo.kalselprov.go.id" class="text-gray font-weight-bold ml-1" target="_blank">Diskominfo Prov. Kalsel</a>
            <br>Telah dikunjungi <%= @visitor_count %> kali.
          </div>
        </div>
        <div class="col-xl-3">
          <div class="copyright text-right text-xl-left text-muted">
            
          </div>
        </div>
        <div class="col-xl-5">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <%= link_to 'Home', root_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'News', public_news_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Contact', public_contact_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'FAQ', public_faq_path, class: 'nav-link', target: '_blank' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link', target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <style>
    .hitCounter.badge-done0{
      background-color: #0000 !important;
      background-image: none !important;
      display: inline !important;
      background-repeat: none !important;
      text-indent: 0 !important;
      font-size: 14px !important;
      color: #525f7f !important;
      padding: 0px 0px !important;
      background-position: none !important;
    }
  </style>
<% end %>
<%= render partial: 'layouts/body' %>
